#status{
    width: 20%;
    height: 70vh;
    border-left: 1px solid #808080;
}

#status .status-inner-wrapper{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#status .status-inner-wrapper > div{
    display: flex;
    align-items: center;
}

#status div svg{
    margin: 0 3rem;
}

#status div h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: #808080;
}

#status .unavailable span {
    background-color: #f84464;
    border: 1px solid black;
}

#status .unavailable{
    margin: 10px;
}
#status .available{
    margin: 10px;
}
#status .selection{
    margin: 10px;
}
#status .unavailable h2{
    margin: 10px;
}
#status .available h2{
    margin: 10px;
}
#status .selection h2{
    margin: 10px;
}
#status .available span {
    border: 1px solid black;
}
#status .selection span {
    background-color: #1fd50e;
    border: 1px solid black;
}
